<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="basic.myproject.testexecutor.BasicMMETests"/>
      <class name="basic1.AndroidBuxfur"/>
      <class name="basic1.AndroidEmulatorTest"/>
      <class name="basic1.AndroidCalculatorTest"/>
      <class name="basic1.AndroidWebTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
